html {
  background-color: rgb(132, 185, 202);
}
.a {
  font-family: 'Annie Use Your Telescope';
  font-size: 64px;
  text-align: center;
  letter-spacing: 8px;
  color: whitesmoke;
  word-spacing: 5px;
  margin: 10px 0;
}
figure {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center; 
  margin: 30px 0;
  position: absolute;
  left:235px;
  top:230px;
}
div.b {
  text-align: center;
  font-family: 'Annie Use Your Telescope';
  font-size: 32px;
  color: whitesmoke;
  word-spacing: 5px;
  word-spacing: 3px;
  margin: 40px 0; 
  position: absolute;
  left:260px;
  top:750px;
}
.input, .button {
  border: none;
  text-decoration: none;display: inline-block;
  font-family: 'Annie Use Your Telescope';
  cursor: pointer;
  position: absolute;
  margin: 4px 2px;
}
.input{
  background-color: whitesmoke;
  color: DarkSlateBlue;
  padding: 10px;
  height: 25px;
  width: 80px;
  text-align: justify;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  left:440px;
  top:1140px;
}
.button {
  background-color: rgb(233, 221, 229);
  color: rgb(60, 50, 119);
  padding: 10px;
  width: 30%;
  text-align: center;
  border-radius: 20px;
  font-size: 35px;
  font-weight: thicker;
  left:340px;
  top:1250px
}
#table td, #table th {
  border-collapse: collapse;
  color: darkslateblue;
  height: 20%;
  border: 3px;
  padding: 14px;
  border-style: solid;
  border-color: whitesmoke;
  font-size: 23px;
  text-align: center;
  position: relative;
  left:75px;
}
.form-control1, .form-control2{
background-color: whitesmoke;
border: none;
color: rgb(60, 50, 119);
padding:25px;
width: 300px;
height: 300px;
text-align: left;
letter-spacing: 3px;
border-radius: 20px;
text-decoration: none;
display: inline-block;
font-family: 'Annie Use Your Telescope';
font-size: 20px;
font-weight: thicker;
cursor: pointer;
position: absolute;
}
.form-control1 {
  left:60px;
  top:400px
}
.form-control2 {
  left:550px;
  top:400px;
}
.button2, .button3 {
  background-color: rgb(233, 221, 229);
  border: none;
  color: rgb(60, 50, 119);
  padding: 8px;
  width: 30%;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Annie Use Your Telescope';
  font-size: 50px;
  font-weight: thicker;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
}
.button2{
  left:180px;
  top:900px
}
.button3{
  left:500px;
  top:900px
}

#screen1 {
  display:block
}

#screen2 {
  display:none
}