html {
    background-color: rgb(132, 185, 202);
  }
  h2 {
    font-family: 'Annie Use Your Telescope';font-size: 64px;font-weight: thicker;letter-spacing: 8px;color:whitesmoke;word-spacing: 5px;
  }
  body {
    font-family: 'Annie Use Your Telescope';font-size: 32px;color:whitesmoke;word-spacing: 5px;
    word-spacing: 3px;
    background-image: url("Unicornio1.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 100px;
  }
  input {
  background-color: whitesmoke;
  border: none;
  color: DarkSlateBlue;
  padding: 10px;
  height: 25px;
  width: 35px;
  text-align: justify;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Annie Use Your Telescope';
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  }
  button {
 background-color: whitesmoke;
  border: none;
  color: DarkSlateBlue;
  padding: 40px 40px
  height: 60px;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Annie Use Your Telescope';
  font-size: 25px;
  font-weight: thicker;
  margin: 4px 2px;
  cursor: pointer;  
}
