html {
  background-color: rgb(132, 185, 202);
}
.a {
  font-family: "Annie Use Your Telescope";
  font-size: 70px;
  text-align: center;
  letter-spacing: 9px;
  color: whitesmoke;
  word-spacing:12px;
  margin: 10px 0;
}
.imagen {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center; 
  margin: 30px 0;
  position: absolute;
  left:235px;
  top:230px;
}
div.b {
  text-align: left;
  font-family: "Annie Use Your Telescope";
  font-size: 38px;
  color: whitesmoke;
  word-spacing: 5px;
  margin: 30px 0; 
  position: absolute;
  left:740px;
  top:900px;
}
.input, .button {
  border: none;
  text-decoration: none;display: inline-block;
  font-family: "Annie Use Your Telescope";
  cursor: pointer;
  position: absolute;
  margin: 4px 2px;
}
.button {
  background-color: rgb(233, 221, 229);
  color: rgb(60, 50, 119);
  padding: 10px;
  width: 30%;
  text-align: center;
  border-radius: 20px;
  font-size: 35px;
  font-weight: thicker;
  left:240px;
  top:1080px
}
.form-control1, .form-control2{
background-color: whitesmoke;
border: none;
color: rgb(60, 50, 119);
padding:25px;
width: 300px;
height: 300px;
margin: 0;
text-align: left;
letter-spacing: 10px;
border-radius: 20px;
text-decoration: none;
display: inline-block;
font-family: "Annie Use Your Telescope";
font-size: 30px;
font-weight: thicker;
cursor: pointer;
position: absolute;
}
.form-control1 {
  left:60px;
  top:400px
}
.form-control2 {
  left:550px;
  top:400px;
}
.input2 {
  border: none;
  text-decoration: none;display: inline-block;
  font-family: "Annie Use Your Telescope";
  cursor: pointer;
  position: absolute;
  margin: 4px 2px;
  background-color: whitesmoke;
  color: DarkSlateBlue;
  padding: 10px;
  height: 25px;
  width: 80px;
  text-align: justify;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  left:440px;
  top:900px;
}
.button2, .button3 {
  background-color: rgb(233, 221, 229);
  border: none;
  color: rgb(60, 50, 119);
  padding: 5px;
  width: 25%;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-family: "Annie Use Your Telescope";
  font-size: 50px;
  font-weight: thicker;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
}
.button2{
  left:180px;
  top:1050px
}
.button3{
  left:500px;
  top:1050px
}
#screen1 {
  display:block
}
#screen2 {
  display:none
}
#encode {
text-transform: uppercase
}
@media screen and (min-width: 1000px){
  .button {
padding:30px;
left:800px;
  }
}
@media screen and (min-width: 1000px){
 .form-control1 {
position: center;
padding:70px;
width: 500px;
height: 450px;
left:120px;
  } 
}
@media screen and (min-width: 1000px){
  .form-control2 {
 position: center;
 padding:70px;
 width: 500px;
 height: 450px;
 left: 1200px;
   } 
 }
@media screen and (min-width: 1000px){
  .button2 {
padding:6px;
left:180px;
  }
}
@media screen and (min-width: 1000px){
  .button3 {
padding:6px;
left:1190px;
  }
}
@media screen and (min-width: 1000px){
  .input2 {
padding:20px;
left:900px;
  }
}